@import "/home/hzren/learning/React/nasa-app/node_modules/susy/sass";
@import "/compass";

/* general background styling */
html{
    background:transparent url('https://image.ibb.co/bT4N7T/clouds.png') repeat top center;
	  animation: move-clouds-back 500s linear infinite;
    background: #000 url('https://image.ibb.co/mjnygo/stars.png') repeat top center;  
    max-width: 100%;
    overflow-x: hidden;
}

/* source code for space background https://codepen.io/NazarTheVis/pen/zqXMqP */
.stars, .twinkling, .clouds {
	display:block;
	top:0; bottom:0;
	left:0; right:0;
  width:100%; height:100%;
  background-attachment: scroll;  
}

.stars {
	z-index: 0;
  background: #000 url('https://image.ibb.co/mjnygo/stars.png') repeat top center;
  animation: move-clouds-back 500s linear infinite;
  
}

.twinkling{
	z-index: 1;
	background:transparent url('https://image.ibb.co/ir1DE8/twinkling.png') repeat top center;
	animation: move-twink-back 200s linear infinite;
}

.clouds{
	z-index: 2;
  background:transparent url('https://image.ibb.co/bT4N7T/clouds.png') repeat top center;
	animation: move-clouds-back 200s linear infinite;
}

@keyframes move-twink-back {
	from {background-position:0 0;}
	to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
	from {background-position:0 0;}
	to {background-position:10000px 0;}
}

/* nav bar styling */
.nav-bar{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-left: 1%;
  margin-top: 2%
}

.mars-image{
  width: 75px;
  height: 75px;
  margin-top: -1%;
}

.top-title{
  color: white;
  font-family: oswald, sans-serif;
  font-size: 2.5rem;
  height: 10%;
}

/* steps bar styling */
.steps{
  background-image: linear-gradient(to right,#263238, #4f5b62);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: -10px;
  margin-bottom: -50px;
  margin-left: 98px;
  margin-right: -50px;
  box-shadow: 3px 3px 10px 4px #ccc;
}

.steps > h4{
  color: white;
  font-family: oswald, sans-serif;
  text-align: center;
  line-height: 80%;
  margin-top: 5px;
  font-size: 1rem;
}

.step-one{
  margin-left: 5%;
}

.step-two{
  margin-left: 12%;
}

.step-three{
  margin-left: 42%;
}

/* selection area styling */
.selection-area{
  margin-top: 10%;
  margin-right: 3%;
  color: white;
  display: flex;
}

/* date selection and check for photos button styling */
.date-selection{
  /* flex-shrink: 2; */
  margin-left: 7%;
}

.date-selection > form > button{
  text-align: center;
  font-size: 1rem;
  /* margin-top: 5%; */
  cursor: pointer;
}

/* rover selection styling */
.rover-descriptions{
  width: 200%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  margin-top: -10%;
}

.rover-descriptions > div > h4 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: oswald, sans-serif;
}

/* had to use px instead of % here because the original images are different sizes to begin with */
.rover-descriptions > div > img {
  width: 150px;
  height: 120px;
  margin-left: 25px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  box-shadow:0px 5px 15px 1px white;
  cursor: pointer;
  border-radius: 50%;
}

.rover-descriptions > div > img:hover {
  box-shadow:0px 12px 22px 1px #333;
  transform: scale(1.2);
}

.rover-descriptions > div > p {
  font-size: 0.9rem;
  margin: 0px;
  font-family: cardo, sans-serif;
  text-align: left;
  margin-left: 50px;
}

.rover-descriptions > div > h6 {
  font-size: 1.1rem;
  margin: 0px;
  font-family: cardo, sans-serif;
  text-align: center;
  margin-top: 7%;
  margin-left: 5%;
  padding: 10px;
}

.highlight-rover{
  border: 1rem outset snow;
}

.img-normal-opacity{
  opacity: 0.2;
}

/* retrieve-photos button styling */
.retrieve-photos{
  grid-area: retrieve;
  margin-top: 2%;
  margin-right: 50%;
  margin-left: 35%;
}

/* loaded gallery styling */
.loaded-photos{
  background-color: white;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, 175px);
  grid-auto-rows: 175px;
  grid-auto-flow: dense;
  margin-left: 2%;
}

.item {
  font-family: oswald, sans-serif;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1; 
  grid-template-rows: 1;
  margin-top: 10%;
  margin-left: 10%;
}
.item img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item img:hover {
  transform: scale(1.2);
  
}
.item__overlay {
  background: #ffc60032;
  grid-column: 1 / -1;
  grid-row: 1/ -1;
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  transition: 0.2s;
  transform: translateY(100%);
}
.item__overlay button {
  background: none;
  border: 2px solid white;
  color: white;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.7);
  margin-bottom: 10px;
  font-size: 0.9rem;
  cursor: pointer;
}

.item:hover .item__overlay {
  transform: translateY(0);
}
.item.v2 {
  grid-row: span 2;
}
.item.v3 {
  grid-row: span 3;
}
.item.v4 {
  grid-row: span 4;
}
.item.h2 {
  grid-column: span 2;
}
.item.h3 {
  grid-column: span 3;
}
.item.h4 {
  grid-column: span 4;
}
.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 2;
  display: grid;
  align-items: center;
  justify-items: center;
}
.overlay.open {
  display: grid;
  align-items: center;
  justify-items: center;
}
.overlay-inner {
  background: white;
  width: 700px;
  padding: 20px;
}
.overlay img {
  width: 75%;
  height: 75%;
  /* margin-top: 5%; */
}

.overlay button {
  background: #ffc60032;
  border: 2px solid white;
  color: white;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.7);
  font-size: 1rem;
  cursor: pointer;
  margin-right: 5%;
}
.close-button {
  margin-top: 1%;
}
/* had to use px for next & prev buttons because % doesn't stablize height when screen size moves */
.next-button {
  margin-left: 80%;
  margin-top: 80px; 
}
.prev-button {
  margin-left: -70%;
  margin-top: -450px;
}
.overlay h4 {
  margin-bottom: 1%;
  color: white
}

/* removing the ipad steps for non-ipad screens */
@media only screen and (min-width: 1480px){
  /* all display none */
  .date-selection > .ipad-step-one{
    display: none;
  }

  .date-selection > .ipad-step-two{
    display: none;
  }

  .date-selection > .ipad-step-three{
    display: none;
  }

  .i-pad-retrieve-photos > form > button{
    display: none;
  }
}